.modal__footer button {
  width: 10vw;
  height: 6vh;
  padding: 0.5rem 1rem;
  border: 1px solid #5f3dc4;
  border-radius: 12px;
  background: #5f3dc4;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.modal__footer button:focus {
  outline: none;
}

.modal__footer button:hover,
.modal__footer button:active {
  background: #6d56b3;
}
