.images {
  height: 200px;
  width: 200px;
}

.photo-actions {
  display: flex;
  justify-content: space-around;
}

.photo-actions button {
  width: 80px;
  border: none;
  border-radius: 12px;
  padding: 0.5em 0;
  margin: 0.5em 0;
  background: #5f3dc4;
  color: #fff;
  font: inherit;
  outline: none;
  cursor: pointer;
}
